<div class="sidebar-container">
    <nav class="sidebar">
        <div class="sidebar-header">
            <h2>Todo List</h2>
        </div>
        <div class="sidebar-links">
            <a routerLink="dashboard" routerLinkActive="active">
                add task +
            </a>
            <a routerLink="today" routerLinkActive="active">
                📅 Today
            </a>
            <a routerLink="upcoming" routerLinkActive="active">
                ⏳ Upcoming
            </a>
            <a routerLink="completed" routerLinkActive="active">
                ✅ Completed
            </a>
            <div class="divider"></div>
            <h4>Projects</h4>

        </div>
        <button class="logout-btn" (click)="logout()" >Logout</button>    </nav>
</div>