<div class="dashboard-container">
    <h1 class="dashboard-title">Task Dashboard</h1>

    <div class="task-input-section">
        <form class="task-form">
            <input
                    type="text"
                    class="task-input"
                    placeholder="Enter a new task..."
                    [(ngModel)]="task.title"
                    name="newTask"
            >
            <button type="submit" class="task-submit-btn" (click)="addTask()">
                Add Task
            </button>
        </form>
    </div>


</div>