.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 20px 30px 20px;
  display: flex;
  align-items: center;
  transition: 0.3s ease-out;
  backdrop-filter: blur(8px) brightness(1.2);
  -webkit-backdrop-filter: blur(8px) brightness(1.2);
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  color: white;
  font-size: 16px;
}
.list {
  list-style-type: none;
  margin-left: auto;
  margin-right: 50px;
  display: none;
  @media (min-width: 640px) {
    display: flex;
  } }
li {
  margin-left: 20px;
}
.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
li a{
  text-decoration: none;
}

 li a:hover,visited {
  color: #ffc107;
}
